@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    animation: none !important;
  }
}

@font-face {
  font-family: "Inter";
  src: url(/resource/Inter.ttf) format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  color: whitesmoke;
  font-family: "Inter", sans-serif;
  font-display: swap;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #0d0d0d;
  box-shadow: 0 0 30px #0d0d0d;
}

header ul {
  list-style-type: none;
}

header nav {
  display: flex;
  align-items: center;
}

h1#hero {
  background: white;
  color: black;
  display: flex;
  align-items: center;
  padding: .5%;
  border-radius: 8px;
}

section#recentposts ul li.post-link {
  background: linear-gradient(to right, transparent, #1c1c1c);
  padding: 1%;
  border-radius: 8px;
  list-style-type: '>';
  margin-block: 2.5%;
}

a {
  color: rgb(60, 138, 255);
  text-decoration: none;
}

a:visited {
  color: rgb(139, 67, 255);
}

main {
  display: flex;
  justify-content: center;
  margin-inline: 7.5%;
  margin-block-start: 5%;
}

main.blog h2#title {
  font-size: clamp(2.5rem, 5vw, 80px);
  font-weight: 900;
  margin-block: 2.5%;
  border-inline-start: 10px solid;
  padding-inline-start: 0.25em;
}

main.blog p.tags {
  color: gray;
}

main article {
  max-width: 75%;
}

main.blog article p {
  line-height: 2;
}

main.blog #description {
  color: whitesmoke;
  font-weight: 200;
  margin-block: 1em;
}

.post-tags {
  color: gray;
}

footer {
  margin-inline: 10%;
  border-block-start: 1px solid gray;
  margin-block: auto 0;
  font-size: 75%;
}

@media print {
  *,
  *::before,
  *::after {
    box-shadow: none !important;
    color: black !important;
    border-color: black !important;
    max-width: none !important;
    margin-inline: 0 !important;
  }

  nav,
  footer:first-child {
    display: none !important;
    visibility: hidden !important;
  }
}
