@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    animation: none !important;
  }
}

@font-face {
  font-family: "Inter";
  src: url(/resource/Inter.ttf) format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  color: whitesmoke;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #0d0d0d;
  box-shadow: 0 0 30px #0d0d0d;
}

header ul {
  list-style-type: none;
}

header nav {
  display: flex;
  align-items: center;
}

h1#hero {
  background: white;
  color: black;
  display: flex;
  align-items: center;
  padding: .5%;
  border-radius: 8px;
}

a {
  color: rgb(60, 138, 255);
  text-decoration: none;
}

a:visited {
  color: rgb(139, 67, 255);
}

main#main {
  display: flex;
  justify-content: center;
  margin-inline: 10%;
}

main h2 {
  font-size: 500%;
}

main article {
  width: 75%;
}

footer {
  margin-inline: 10%;
  border-block-start: 1px solid gray;
}