<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - headquarter8302.github.io</title>
    <link rel="shortcut icon" href="/resource/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>headquarter8302/blog</title>
    <link rel="stylesheet" href="/blog/resources/styles.css">
    <script src="/blog/resources/script.js" defer></script>
</head>

<body>
    {% include header.html %}
    <main id="main">
        <article>
            <h2 id="title">{{ page.title }}</h2>
            <div id="description">{{ page.description }}</div>
            {{ content }}
        </article>
    </main>
    {% include footer.html %}
</body>

</html>