<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - headquarter8302.github.io</title>
    <link rel="shortcut icon" href="/resource/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>headquarter8302/blog</title>
    <link rel="preload" href="/blog/resource/styles.css" as="style" crossorigin="anonymous">
    <link rel="preload" href="/resource/Inter.ttf" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/blog/resource/styles.css">
<!--     <script src="/blog/resource/script.js" defer></script> -->
    <!-- OGP tags -->
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:description" content="{{ post.description }}">
    <meta name="description" content="{{ post.description }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ post.url }}">
    <meta property="og:site_name" content="headquarter8302.github.io/blog">
    <meta property="article:author" content="Markus Mafz">
    <meta property="article:published_time" content="{{ post.date | date: '%Y-%m-%dT%H:%M:%S' }}">
</head>

<body>
    {% include header.html %}
    <main class="blog">
        <article>
            <p class="tags">Tags: {{ page.tags }}</p>
            <h2 id="title">{{ page.title }}</h2>
            <div id="description">{{ page.description }}</div>
            {{ content }}
        </article>
    </main>
    {% include footer.html %}
</body>

</html>
