<!DOCTYPE html>
<html lang="en-GB" dir="ltr" id="html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blogs - headquarter8302.github.io</title>
    <link rel="shortcut icon" href="/resource/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>headquarter8302/blog</title>
    <link rel="preload" href="/blog/resource/styles.css" as="style" crossorigin="anonymous">
    <link rel="preload" href="/resource/Inter.ttf" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/blog/resource/styles.css">
<!--     <script src="/blog/resource/script.js" defer></script> -->
    <!-- OGP tags -->
    <meta property="og:title" content="Mark's blog">
    <meta property="og:description" content="My blog site">
    <meta name="description" content="{{ post.description }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="headquarter8302.github.io/blog">
    <meta property="og:site_name" content="headquarter8302.github.io/blog">
    <meta property="article:author" content="Markus Mafz">
</head>

<body>
    {% include header.html %}
    <main id="main">
        <article>
            <div id="description">Blogs, thoughts, and possible ramblings.</div>
            <section id="recentposts">
                <h2>Recent posts</h2>
                <ul>
                    {% for post in site.posts %}
                    <li class="post-link"><a href="/blog{{ post.url }}">{{ post.title }}</a> (<span
                            class="post-tags">{{ post.tags }}</span>) - <span
                            class="post-date">{{ post.date | date: "%B %d, %Y" }}</span></li>
                    {% endfor %}
                </ul>
            </section>
        </article>
    </main>
    {% include footer.html %}
</body>

</html>
